<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                {{#if user}}
                <a class="navbar-brand" href="/ksrtcadmin/home">KSRTC admin</a>
                {{else}}
                <a class="navbar-brand" href="#">KSRTC admin</a>
                <a style="margin-left: 82rem;" class="navbar-brand" href="/clgadmin/main"><img style="width: 24px;" src="\images\home-button.png" alt=""></a>
                {{/if}}

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                       {{#if user}}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/ksrtcadmin/aprovedlist">Aproved application</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active" href="/ksrtcadmin/rejectedlist">Rejected application</a>
                        </li>
                        
                        {{/if}}
                       
                    </ul>
                    
                </div>






              {{#if user}}

              
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{!-- {{#if user}}
                    {{user.name}}
                    {{else}}
                    Account
                    {{/if}} --}}
                    ACCOUNT
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" style="">
                    {{!-- {{#if user}} --}}
                    <li><a class="dropdown-item active" href="/ksrtcadmin/logout">Logout</a></li>
                

                    {{!-- {{/if}} --}}


                </ul>
            </div>  
            {{/if}}
            </div>
        </nav>
    </header>