<div class="row">
    <div class="container pl-5">
        <div class="col-md-6 m-auto mt-5">
            <h2 class="text-center">CHANGE PASSWORD</h2>

            <form action="/password-change" method="post">
            

                <div class="form-group">
                    <label for="exampleInputEmail1">STUD ID</label>
                    <input name="studid" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Stud Id">
                    
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1"> CONFIRM NEW PASSWORD</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="text-center"><button type="submit" class="btn btn-primary mt-3 ">Login</button></div>
                
                
            </form>

        </div>
    </div>
</div>