<section style="border: 2px solid black;
    margin-left: 224px;
    margin-right: 224px;">

      <h1 class="text-center"> <b> <u>COURSE CERTIFICATE</u></b> </h1>
  
      <h6 style="margin-left: 70%;margin-top: -48px;">Government College </h6>
      <h6 style="  margin-left: 72%;">Kariavattom</h6>
      
  
      <p style="margin-top: 118px;font-size: 24px;" class="text-center">certified that <label for=""> <u>{{response.dataa.name}}</u> </label> &nbsp; is a <br> <label for=""> <u>{{response.dataa.semester}}</u> </label> semester Bsc <label for=""> <u>{{response.dataa.department}}</u></label> <br>
      student of this college during the academic year <label for=""><u>{{response.dataa.acadamicyear}}</u> </label><br>
      
      
                              </p>

      <img style="width: 107px;
      height: auto;
      margin-left: 81%;
      margin-top: 53px;" src="images/identity-removebg-preview.png" alt=""> 
      
      <p style="    margin-left: 80%;"> Signature Of Authority</p>


  </section>
  <div style="margin-left: 50%;"><a onclick="window.print();return false;" class="btn btn-info" href="">SAVE</a></div>
    
    